## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio cache/options
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## SQLite databases
*.db
*.db-shm
*.db-wal
garden.db*

## Deployment
publish/
deploy.zip
*.PublishSettings

## Rider
.idea/
*.sln.iml

## macOS
.DS_Store

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

